* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: tahoma;
}

.container {
	max-width: 900px;
	margin: 0 auto;

	padding-top: 30px;
}

p {
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	color: black;

}

.second-text {
	margin: 10px auto 0 auto;
	max-width: 700px;
	line-height: 30px;
	font-weight: 400;


}

.form__position {
	text-align: center;
	padding: 30px 0px 0px 0px;
}

form {
	display: inline-block;

	width: 300px;


}

label span {
	display: block;
	text-align: left;
	opacity: 0.7;
	margin-bottom: 15px;

}

input {
	width: 300px;
	height: 30px;
	padding: 5px;
}

input:first-child {
	margin-bottom: 10px;

}


.select__body {
	display: flex;
	justify-content: space-between;
}

select {
	width: 90px;
	height: 35px;
}

button {
	width: 300px;
	height: 30px;
	color: white;
	font-weight: 700;
	border-radius: 3px;
	border: none;
	margin-top: 15px;
	cursor: pointer;
}

.register {
	background-color: rgb(103, 171, 0);

}

.resume {
	background-color: rgb(70, 70, 247);
}

.and {
	display: block;
	margin-top: 10px;
	opacity: 0.7;
}

.and::after {
	content: '';
	display: inline-block;
	width: 50px;
	height: 1px;
	background-color: gray;
	vertical-align: middle;
	margin-left: 5px;
}

.and::before {
	content: '';
	display: inline-block;
	width: 50px;
	height: 1px;
	background-color: gray;
	vertical-align: middle;
	margin-right: 5px;
}